@use 'sass:math';
@use './_vars' as *;


@forward '../../node_modules/include-media/dist/_include-media';

@mixin link($color: var(--link-color), $hoverColor: var(--link-hover-color)) {
  color: $color;
  transition: color 200ms ease;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid rgba($color, 0.3);
  &:hover,
  &:active {
    color: $hoverColor;
    border-bottom-color: rgba($hoverColor, 0.5);
    transition: color 200ms ease, border-color 200ms ease;
  }
}

@mixin h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 16px 0;
  color: var(--text-heading);
  letter-spacing: -0.02em;
}

@mixin h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0 0 12px 0;
  color: var(--text-heading-h2);
  letter-spacing: -0.01em;
}

@mixin loader($borderWidth, $size, $color) {
  &:after {
    content: '';
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: -9999em;
    transform: translateZ(0);
    animation: spin 1.1s infinite linear;
    border-top: $borderWidth solid rgba($color, 0.2);
    border-right: $borderWidth solid rgba($color, 0.2);
    border-bottom: $borderWidth solid rgba($color, 0.2);
    border-left: $borderWidth solid $color;
    width: $size;
    height: $size;
    margin-left: math.div(-$size, 2);
    margin-top: math.div(-$size, 2);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
