@use '../../node_modules/reset-css/sass/_reset';
@use '../../node_modules/react-image-gallery/styles/scss/image-gallery';
@use './_vars' as *;

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  background: $defaultBackgroundColor;
  color: $defaultTextColor;
  line-height: $defaultLineHeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 12px 0;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}
