@use '../../styles/_vars.scss' as *;
@use '../../styles/_mixins.scss' as *;

.field {
  &.disabled {
    opacity: 0.5;
  }

  .label {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
  }

  .input {
    display: block;
    padding: 7px;
    border: 1px solid var(--border-color);
    border-radius: $borderRadiusSmall;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    outline: none;
    width: 100%;
    max-width: 200px;
    transition: border-color 200ms ease;

    &:focus {
      border-color: var(--link-color);
    }

    &.invalid {
      border-color: $red;
    }
  }

  .error {
    margin-top: 2px;
    color: $red;
  }
}
