@use '../../../styles/_vars.scss' as *;
@use '../../../styles/_mixins.scss' as *;


.filter {
  margin-bottom: 20px;
}

.ideas {
  .idea {
    & + .idea {
      margin-top: 16px;
    }
    .ideaLink {
      @include link;
      transition: color 0.2s ease;
    }
  }
   .more {
    margin-top: 20px;
  }
}
