@use '../Input/index.module.scss'; 


.field {
  input {
    display: none;
  }

  .previewPlace {
    position: relative;
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 3px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .preview {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
