@use '../../../styles/_vars.scss' as *;
@use '../../../styles/_mixins.scss' as *;

.createdAt {
  font-size: 12px;
  margin-bottom: 10px;
}

.author {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0;
  align-items: center;

  .avatar {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .name {
    flex: 1 1 100%;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
}

.likes {
  margin-top: 20px;

  .likeButton {
    @include link;
  }
}

.editButton {
  margin-top: 20px;
}

.blockIdea {
  margin-top: 20px;
}

.gallery {
  margin: 10px 0;
}

.gallery :global(.image-gallery-slide) {
  max-height: 500px !important;
}

.gallery :global(.image-gallery-slide img) {
  max-height: 500px !important;
  width: auto !important;
  margin: 0 auto;
}

.gallery :global(.image-gallery-thumbnail) {
  width: 80px !important;
  height: 60px !important;
}

.gallery :global(.image-gallery-thumbnail img) {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.text {
  font-size: 14px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}
